body{
    background: linear-gradient(black,#191e2c);
    color: whitesmoke;
    font-family:  'Agency FB';
    text-align: center;
}
div{
    margin-bottom: 3%;
}

@font-face { 
    font-family: 'Sakana'; 
    src: url('../fonts/Sakana.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

h1 {
    font-family: 'Sakana', sans-serif;
}

button{
    background-color: whitesmoke;
    color: #750000;
    border-radius: 40%;
    border-color: whitesmoke;
    border-width: 1cm;
}
#glavni{
    margin-top: 10%;
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}
#s1{
    float: left;
    width: 30%;
}
#s2{
    float: left;
    width: 30%;
}

input[type="text"],
        input[type="password"], 
        input[type="email"] ,
        input[type="tel"],
        input[type="date"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color:  #1b2957;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 12px;
                margin-top: 10px;

            width: 100%;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-weight: bold;
        }

        button:hover {
            background-color:   #465999;
        }