@font-face { 
    font-family: 'Sakana'; 
    src: url('../fonts/Sakana.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

h1, h2 {
    font-family: 'Sakana', sans-serif;
}

.vozilo{
   border-color: whitesmoke;
    border-style: double;
    border-width: 2cm;
    border-radius: 40%;
    width: 70%;
}

body{
    background: linear-gradient(black, #191e2c);
    color: whitesmoke;
    text-align: center;
    font-family: 'Agency FB';
}
#prvi{
    float: left;
    width: 30%;
}
#drugi{
    float: left;
    margin-left: 5%;
    width: 30%;
}
#treći{
    float: left;
    margin-left: 5%;
    width: 30%;
}
div{
    margin-bottom: 3%;
}
#slika{
    margin-bottom: 0%;
}
img{
    width: 100%;
}